@font-face {
	font-family: Cormac;
	src: url('https://static.superhosting.bg/i3/fonts/Cormac/woff/33A63C_6_0.woff') format('woff');
	src: url('https://static.superhosting.bg/i3/fonts/Cormac/ttf/33A63C_6_0.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html, body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;

}
h1, h2{
	margin:0;
	padding:0;
}
body{
	text-align: center;
	background: #ff9900; /* Old browsers */
	background: -moz-linear-gradient(left, #ff9900 0%, #ff3300 100%);
	background: -webkit-linear-gradient(left, #ff9900 0%,#ff3300 100%);
	background: linear-gradient(to right, #ff9900 0%,#ff3300 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9900', endColorstr='#ff3300',GradientType=1 );
}
a{
	color:white;
}
#content{
	border: 4px solid white;
	width: calc(99.6% - 226px);
	height: calc(98.6% - 175px);
	display:inline-block;
	margin-top: 80px;
	position: relative;
}
#head{
	color: white;
	text-align: left;
	position:absolute;
	top: 45px;
	left:65px;
	padding-right: 5px;
}
h1{
	font-family: Cormac;
	font-size: 80px;
	line-height: 80px;
	font-weight: normal;
	margin-bottom: 28px;
}
h2{
	font-family: Georgia;
	font-size: 30px;
	line-height: 30px;
	font-style: italic;
	font-weight: normal;
}
#footer{
	position: absolute;
	text-align: left;
	bottom: 55px;
	left: 55px;
}
.logo{
    background: rgba(0, 0, 0, 0) url("https://static.superhosting.bg/i3/sh_logo/sh_logo_one_white_07_17.svg") no-repeat scroll;
    height: 18px;
    min-width: 244px;
    width: 244px;

}


@media only screen and (max-width: 1200px){

	#content{
		width: calc(99.6% - 86px);
		height: calc(98.6% - 83px);
		margin-top: 40px;
	}
	#head{
		top: 25px;
		left:35px;
	}
	h2{
		line-height: 40px;
	}
	#footer{
		bottom: 48px;
		left: 36px;
	}
}

@media only screen and (max-width: 850px){
	body{
		background: #ff3300; /* Old browsers */
		background: -moz-linear-gradient(top, #ff3300 1%, #ff9900 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #ff3300 1%,#ff9900 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #ff3300 1%,#ff9900 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3300', endColorstr='#ff9900',GradientType=0 ); /* IE6-9 */
	}
	#content{
		height: calc(98.6% - 76px);
		border: 2px solid white;
	}
	h1{
		font-size: 60px;
		line-height: 60px;
		margin-bottom: 24px;
	}
	h2{
		font-size: 25px;
		line-height: 32px;
	}
	#head{
		top: 28px;
		left:31px;
	}
	#footer{
		bottom: 40px;
		left: 36px;
	}
	.logo{
	    height: 16px;
	    min-width: 217px;
	    width: 217px;

	}
}



@media only screen and (max-width: 600px){
	body{
		background: #ff9900; /* Old browsers */
		background: -moz-linear-gradient(left, #ff9900 0%, #ff3300 100%);
		background: -webkit-linear-gradient(left, #ff9900 0%,#ff3300 100%);
		background: linear-gradient(to right, #ff9900 0%,#ff3300 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9900', endColorstr='#ff3300',GradientType=1 );
	}
	#content{
		width: calc(99.6% - 39px);
		height: calc(98.6% - 41px);
		margin-top: 20px;
	}
	#head{
		top: 12px;
		left:18px;
	}
	h1{
		font-size: 40px;
		line-height: 40px;
		margin-bottom: 10px;
	}
	h2{
		font-size: 20px;
		line-height: 25px;
	}
	.logo{
	    height: 13px;
	    min-width: 176px;
	    width: 176px;

	}
	#footer{
		bottom: 22px;
		left: 18px;
	}
}


@media only screen and (max-width: 400px){
	body{
		background: #ff3300; /* Old browsers */
		background: -moz-linear-gradient(top, #ff3300 1%, #ff9900 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #ff3300 1%,#ff9900 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #ff3300 1%,#ff9900 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3300', endColorstr='#ff9900',GradientType=0 ); /* IE6-9 */
	}
}